img {
  height: 400px
}
h3 {
  text-transform: uppercase;
}
.instructions {
  width: 500px;
  margin: 0 auto;
}
body {
  width: 900px;
  margin: 0 auto;
  text-align: center;
}
ul {
  list-style-position: inside;
}
ol {
  list-style-position: inside;
}